# MuStARD 
tools/mustard/data/
tools/mustard/mustard_src/
tools/mustard/results/

# miRe2e 
tools/mire2e/data/
tools/mire2e/results/

# mirDNN 
tools/mirdnn/data/
tools/mirdnn/mirdnn_src/
tools/mirdnn/results/

#dnnpremir
tools/dnnpremir/data/
tools/dnnpremir/dnnpremir_src/
tools/dnnpremir/results/

#deepmir 
tools/deepmir/data/
tools/deepmir/deepmir_src/
tools/deepmir/results/

#deepmirgene
tools/deepmirgene/data/
tools/deepmirgene/deepmirgene_src/
tools/deepmirgene/results/

# unified inference results
results/

# benchmark
benchmark/output/
benchmark/download/data/

#orthologues
premirna_orthologues/results/

__pycache__/
*.pyc
*.pyo
*.pyd

.DS_Store
